<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <script>
        $(function () {

        });
    </script>
</head>
<body class="h-screen font-sans login bg-cover">
<main class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
        <div class="leading-loose">
            <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
                <p class="text-gray-800 font-medium text-center text-lg font-bold">환영합니다</p>
                <div class="">
                    <label class="block text-sm text-gray-00" for="username">계정명</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="username" name="username"
                           type="text" required="" placeholder="계정명을 입력하세요." aria-label="username">
                </div>
                <div class="mt-2">
                    <label class="block text-sm text-gray-600" for="password">비밀번호</label>
                    <input class="w-full px-5  py-1 text-gray-700 bg-gray-200 rounded" id="password" name="password"
                           type="text" required="" placeholder="비밀번호를 입력하세요." aria-label="password">
                </div>
                <div class="mt-4 items-center justify-between">
                    <button class="btn px-4 py-1 text-white tracking-wider bg-gray-900 rounded" type="submit">
                        로그인
                    </button>
                    <a class="inline-block right-0 align-baseline  font-bold text-sm text-500 hover:text-blue-800"
                       href="#">
                        비밀번호를 잊으셨나요?
                    </a>
                </div>
            </form>

        </div>
    </div>
</main>
</body>
</html>