<header class="flex h-12 bg-blue-400 sticky top-0" th:fragment="header">
    <div class="basis-64 flex">
        <div class="w-56 cursor-pointer flex items-center justify-center">
            <!--    로고    -->
            <span class="text-white text-lg font-bold">근태관리 시스템</span>
        </div>
        <div id="menuControl" class="w-12 cursor-pointer flex items-center justify-center">
            <!--    메뉴탭 제어    -->
            <svg width="28" height="32" viewBox="0 0 28 32" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="7" width="28" height="3" fill="#ffffff"/>
                <rect x="0" y="15" width="28" height="3" fill="#ffffff"/>
                <rect x="0" y="23" width="28" height="3" fill="#ffffff"/>
            </svg>
        </div>
    </div>
    <div class="flex-1 flex">
        <!--    로그인 상태 제어    -->
    </div>
</header>