<nav id="navBar" class="w-64 h-screen flex flex-col bg-white visible border-r shadow-lg"
     th:fragment="menu">
    <div id="navBar-1" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">회사관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-2" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">부서관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-3" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">직급관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-4" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">수당관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-5" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">직원관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-6" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">일정관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-7" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">급여정산서</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-8" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">건강검진관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
    <div id="navBar-9" class="h-12 flex border-b bg-slate-200 hover:bg-slate-100 cursor-pointer transition-colors">
        <div class="basis-12"></div>
        <div class="flex-1 flex items-center">
            <span class="text-zinc-500 text-lg font-bold">계좌관리</span>
        </div>
        <div class="basis-12"></div>
    </div>
</nav>