<div class="flex basis-12 h-12 flex-row justify-end shadow-lg" th:fragment="profile">
    <div class="flex basis-12 justify-center items-center">
        <svg class="fill-white w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"/>
        </svg>
    </div>
    <div class="flex basis-12 justify-center items-center">
        <svg class="fill-white w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
        </svg>
    </div>
    <div id="logout" class="flex flex-row basis-40 cursor-pointer">
        <div class="flex basis-12 justify-center items-center">
            <div class="h-8 w-8 rounded-full bg-yellow-300"></div>
        </div>
        <div class="flex flex-col">
            <span class="text-white font-bold" th:text="${name}"></span>
            <span class="text-white text-sm">
                <span th:text="${teamName}"></span>
                (<span th:text="${rankName}"></span>)
            </span>
        </div>
    </div>
</div>