<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/control.js"></script>
</head>
<body>
<header th:replace="~{layouts/header :: header}"></header>
<div class="flex bg-[#2E2E48]">
    <nav th:replace="~{layouts/menu :: menu}"></nav>
    <main class="flex-1 flex flex-col h-screen">
        <div th:replace="~{layouts/profile :: profile}"></div>
        <div class="flex-1 flex flex-col">
            <div class="flex flex-1"></div>
            <div class="flex flex-1"></div>
        </div>
    </main>
</div>
<footer></footer>
</body>
</html>